.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo input {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.campo-color input {
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    display: block;
    width: 50%;
    height: 30px;
    margin-bottom: 30px;
}

.campo-color input::-webkit-color-swatch {
    border-radius: 999px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px;
}

.campo-color input::-moz-color-swatch {
    border-radius: 999px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px;
}